In [34]:
#필요한 라이브러리 불러오기
import os
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
sn.set()
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12

# 한글출력
#matplotlib.rc('font', family='AppleGothic')  # MacOS
matplotlib.rc('font', family='Malgun Gothic')  # Windows
plt.rcParams['axes.unicode_minus'] = False

In [7]:
input_fd = open('../YNZ 투자자 공모전 리그2/리그2/2_act_info.csv',errors = 'backslashreplace',encoding='utf-8')
act_info = pd.read_csv(input_fd)
act_info.head()

,act_id,cus_id,act_opn_ym
0,8e1a987ebef2a3374ba558aeda4c7821de7808a11cfea1...,892f41b5002a79c9c93992acf60682f5698372aea023bd...,197912
1,eb161b66263589c3f38efd2277cec2a9a81e1ffa0a5255...,006ad32069efb2a8ce1a99542dfe41cb14e8e75685278a...,198702
2,01866857515304e9e1315e54863cc1108e1d46fff0d467...,1925ed2d8ed2cad53997f5b24722482137c4d1da4b555e...,199109
3,63a58b0fee2fa4dc467c043fde465846b65705659497c5...,7829365dc463ed8275c8b92518d58b3c8d983f00f7bf87...,199401
4,b563fb76d3d432d67198f194701ca67e895da4c2f24e8e...,36e05dde058cf7531bd4001ed3b976ef9562a9ecd9f43d...,199404

In [8]:
input_fd = open('../YNZ 투자자 공모전 리그2/리그2/2_cus_info.csv',errors = 'backslashreplace',encoding='utf-8')
cus_info = pd.read_csv(input_fd)
cus_info.head()

,cus_id,sex_dit_cd,cus_age,zip_ctp_cd,tco_cus_grd_cd,ivs_icn_cd
0,1eec7e43dd6ea34d6be7a9484459e4db1a2da44c5bf311...,2,20,29,04,-
1,7e50c268acce884b1a5b78c9b5645b517c4639413c6dc4...,2,0,41,09,-
2,36d3cd293c4b02a00103fa1ba33ffbee176173a55df75b...,1,70,27,03,-
3,96b6dea03dc71d9ddb1462e06fdba23def1ddc838debf7...,1,70,41,09,-
4,034eb5406bd021a9a88f046e33765efd5b3cd190b39538...,1,70,11,05,-

In [9]:
input_fd = open('../YNZ 투자자 공모전 리그2/리그2/2_iem_info.csv',errors = 'backslashreplace',encoding='utf-8')
iem_info = pd.read_csv(input_fd)
iem_info.head()

,iem_cd,iem_eng_nm,iem_krl_nm
0,A000060,Meritz Fire & Marine Insurance ...,메리츠화재해상보험보통주 ...
1,A000120,CJ LOGISTICS ...,씨제이대한통운보통주 ...
2,A000540,HeungkukFire&MarineInsurance ...,흥국화재해상보험보통주 ...
3,A00088K,HANWHA(3PB) ...,한화3우선주(신형) ...
4,A000950,Chonbang ...,전방보통주 ...

In [10]:
input_fd = open('../YNZ 투자자 공모전 리그2/리그2/2_trd_kr.csv',errors = 'backslashreplace',encoding='utf-8')
trd_kr = pd.read_csv(input_fd)
trd_kr.head()

,act_id,orr_dt,orr_ord,orr_rtn_hur,lst_cns_hur,iem_cd,sby_dit_cd,cns_qty,orr_pr,orr_mdi_dit_cd
0,6caf4de40251d37cbba310f0c6dd0ed8f4c7ca4ccfa675...,20190102,1,12,13,A215600,2,35.0,74200.0,3
1,6caf4de40251d37cbba310f0c6dd0ed8f4c7ca4ccfa675...,20190102,2,12,12,A001060,2,20.0,41100.0,3
2,effb34815e1b7efb34beb550f604ede8ac71a5a71edb30...,20190102,1,14,14,A281820,2,20.0,9460.0,4
3,fea6c038cb7236a02d1e779262698a36219b4c9b527ab1...,20190102,1,12,12,A006650,2,1.0,148500.0,3
4,fea6c038cb7236a02d1e779262698a36219b4c9b527ab1...,20190102,2,12,13,A051360,2,10.0,6550.0,3

In [11]:
input_fd = open('../YNZ 투자자 공모전 리그2/리그2/2_trd_oss.csv',errors = 'backslashreplace',encoding='utf-8')
trd_oss = pd.read_csv(input_fd)
trd_oss.head()

,act_id,orr_dt,orr_ord,orr_rtn_hur,lst_cns_hur,iem_cd,sby_dit_cd,cns_qty,orr_pr,orr_mdi_dit_cd,cur_cd,trd_cur_xcg_rt
0,12c2bf5b4929fa3cb8b8aa7b45c0d000f7e3b868621b5b...,20190102,1,14,14,CNE100001526,2,100.0,49.1500,3,CNY,162.55
1,f51b1d8b13186e30aee7a407e235eb87b6b84ed85ca7a4...,20190102,1,1,1,US0378331005,2,10.0,157.6000,3,USD,1118.10
2,f51b1d8b13186e30aee7a407e235eb87b6b84ed85ca7a4...,20190102,2,1,1,US7561091049,2,2.0,61.9399,3,USD,1118.10
3,37bc7b62e55f0cf8402a1f86dc8d09b09a3028bb13afa6...,20190103,1,2,3,US9229083632,2,3.0,225.0000,3,USD,1119.00
4,e340482168a2154b323ec2b9a0d003d840590ddafb0e2b...,20190103,1,0,0,US74347X8314,1,6.0,34.5000,3,USD,1119.00

In [26]:
#테이블 병합(국내기업 투자 데이터)
iem_trd = pd.merge(trd_kr, iem_info, on = 'iem_cd', how = 'left')
iem_trd_act = pd.merge(iem_trd, act_info, on = 'act_id', how = 'left')
iem_trd_act_cus = pd.merge(iem_trd_act, cus_info, on = 'cus_id', how = 'left')

In [13]:
#20대
iem_trd_act_cus_20 = iem_trd_act_cus[(iem_trd_act_cus['cus_age']==20) | (iem_trd_act_cus['cus_age']==25)]
iem_trd_act_cus_20.reset_index(drop = True, inplace = True)

In [15]:
#30대
iem_trd_act_cus_30 = iem_trd_act_cus[(iem_trd_act_cus['cus_age'] == 30) | (iem_trd_act_cus['cus_age'] == 35)]
iem_trd_act_cus_30.reset_index(drop = True, inplace = True)

In [16]:
#기성세대(40대 이상)
iem_trd_act_cus_older = iem_trd_act_cus[(iem_trd_act_cus['cus_age'] >= 40)]
iem_trd_act_cus_older.reset_index(drop = True, inplace = True)

전체 연령대/20대/30대/기성세대가 가장 많이 투자하는 기업 top20을 뽑아보고 각 세대별 특징이 있는지 조사한다.

In [56]:
#전체 연령대 top20 기업(국내)
iem_trd_act_cus['iem_krl_nm'].value_counts().head(20)

삼성전자보통주                                                         64253
케이씨그린홀딩스보통주                                                     59403
한창보통주                                                           45322
에이치엠엠보통주                                                        37722
삼성 KODEX 200선물인버스2X증권상장지수투자신탁(주식-파생형)                           31945
미래산업보통주                                                         27254
홈캐스트                                                            26688
삼성KODEX레버리지증권상장지수투자신탁[주식-파생형]                                   25215
에스케이하이닉스보통주                                                     21063
파미셀보통주                                                          18665
셀트리온보통주                                                         18523
남선알미늄보통주                                                        18459
에이치엘비                                                           17734
신라젠                                                             17511
씨젠                                                              17482
삼성 KODEX 코스닥150 레버리지증권상장지수투자신탁(주식-파생                            17195
신풍제약보통주                                                         16882
카카오보통주                                                          16206
국일제지                                                            15911
데코앤이                                                            14652
Name: iem_krl_nm, dtype: int64

In [47]:
#20대가 투자하는 top20 기업(국내)
iem_trd_act_cus_20_top10=iem_trd_act_cus_20['iem_krl_nm'].value_counts().head(20)
print(iem_trd_act_cus_20_top10)

삼성전자보통주                                                         4980
삼성 KODEX 200선물인버스2X증권상장지수투자신탁(주식-파생형)                           3919
삼성KODEX레버리지증권상장지수투자신탁[주식-파생형]                                   1889
남선알미늄보통주                                                        1871
씨젠                                                              1722
에스케이하이닉스보통주                                                     1597
카카오보통주                                                          1507
아난티                                                             1400
현대자동차보통주                                                        1349
한진칼보통주                                                          1347
국일제지                                                            1340
삼성전자1우선주                                                        1331
빅텍                                                              1320
파미셀보통주                                                          1250
디피씨보통주                                                          1205
와이비엠넷                                                           1148
웰크론                                                             1027
신풍제약보통주                                                         1027
이원다이애그노믹스                                                       1008
두산퓨얼셀보통주                                                         983
Name: iem_krl_nm, dtype: int64

In [48]:
#30대가 투자하는 top20 기업(국내)
iem_trd_act_cus_30['iem_krl_nm'].value_counts().head(20)

삼성전자보통주                                                         11215
삼성 KODEX 200선물인버스2X증권상장지수투자신탁(주식-파생형)                           10932
삼성 KODEX 코스닥150 레버리지증권상장지수투자신탁(주식-파생                             9456
삼성KODEX레버리지증권상장지수투자신탁[주식-파생형]                                    7542
에이치엘비                                                            6787
에스케이하이닉스보통주                                                      4053
파미셀보통주                                                           3851
씨젠                                                               3849
국일제지                                                             3813
웰크론                                                              3627
남선알미늄보통주                                                         3405
한진칼보통주                                                           3329
셀트리온헬스케어                                                         3283
아난티                                                              3217
디피씨보통주                                                           3198
신풍제약보통주                                                          3003
카카오보통주                                                           2867
삼성전자1우선주                                                         2845
빅텍                                                               2570
삼성 KODEX WTI원유선물특별자산상장지수투자신탁[원유-파생형](                            2556
Name: iem_krl_nm, dtype: int64

In [49]:
#기성세대가 투자하는 top20 기업(국내)
iem_trd_act_cus_older['iem_krl_nm'].value_counts().head(20)

케이씨그린홀딩스보통주                                                     59301
삼성전자보통주                                                         47050
한창보통주                                                           44263
에이치엠엠보통주                                                        36978
미래산업보통주                                                         26561
홈캐스트                                                            26555
삼성 KODEX 200선물인버스2X증권상장지수투자신탁(주식-파생형)                           17088
삼성KODEX레버리지증권상장지수투자신탁[주식-파생형]                                   15777
셀트리온보통주                                                         15465
에스케이하이닉스보통주                                                     15358
데코앤이                                                            14595
신라젠                                                             14572
파미셀보통주                                                          13544
남선알미늄보통주                                                        13156
신풍제약보통주                                                         12812
씨젠                                                              11868
카카오보통주                                                          11776
케이엠더블유                                                          10962
국일제지                                                            10647
삼성전기보통주                                                         10499
Name: iem_krl_nm, dtype: int64

국내기업에서는 삼성전자보통주가 모든 세대에서 1, 2위를 차지함. 기성세대로 갈수록 주식투자하는 사람이 많아짐. 20대의 경우 위 세대에 비해 카카오보통주에 투자하는 비율이 더 높게 나타남. '씨젠'이라는 기업은 시약 및 의료용품 제조업체로, 코로나바이러스감염증-19의 진단 키트를 세계 최초로 개발해낸 회사로 잘 알려져 있다. 전 세대에 걸쳐 씨젠이 순위권에 들어가는 것은 코로나19의 영향이 주식시장에도 큰 영향을 준다는 것으로 보임.

In [27]:
#테이블 병합(해외기업 투자 데이터)
iem_trd = pd.merge(trd_oss, iem_info, on = 'iem_cd', how = 'left')
iem_trd_act_oss = pd.merge(iem_trd, act_info, on = 'act_id', how = 'left')
iem_trd_act_cus_oss = pd.merge(iem_trd_act_oss, cus_info, on = 'cus_id', how = 'left')

In [28]:
#20대
iem_trd_act_cus_20_oss = iem_trd_act_cus_oss[(iem_trd_act_cus_oss['cus_age']==20) | (iem_trd_act_cus_oss['cus_age']==25)]
iem_trd_act_cus_20_oss.reset_index(drop = True, inplace = True)

In [29]:
#30대
iem_trd_act_cus_30_oss = iem_trd_act_cus_oss[(iem_trd_act_cus_oss['cus_age']==30) | (iem_trd_act_cus_oss['cus_age']==35)]
iem_trd_act_cus_30_oss.reset_index(drop = True, inplace = True)

In [30]:
#기성세대
iem_trd_act_cus_older_oss = iem_trd_act_cus_oss[(iem_trd_act_cus_oss['cus_age']>=40)]
iem_trd_act_cus_older_oss.reset_index(drop = True, inplace = True)

In [50]:
#전체 연령대 top20 기업(해외)
iem_trd_act_cus_oss['iem_krl_nm'].value_counts().head(20)

마이크로소프트                                                         1007
델타 에어라인스                                                         875
애플                                                               756
AT&T                                                             710
월트 디즈니                                                           654
테슬라                                                              651
스타벅스                                                             489
보잉                                                               488
코카콜라                                                             483
리얼티 인컴                                                           414
AMD                                                              410
ProShares:UltP Sht QQQ                                           353
알파벳 CLASS A (voting)                                             297
MICRSECTRS US BIG OIL IDX 3X LVG ETN                             289
EPR 프로퍼티스                                                        277
CS VELOCITYSHARES 3X LNG NTRL GS ETN                             274
카니발                                                              263
인텔                                                               253
Virgin Galactic Holdings                                         243
아머 레지덴셜 리츠                                                       234
Name: iem_krl_nm, dtype: int64

In [45]:
#20대가 투자하는 top20 기업(해외)
iem_trd_act_cus_20_oss['iem_krl_nm'].value_counts().head(20)

델타 에어라인스                                                        255
AMD                                                             231
퍼스트 머제스틱 실버                                                     222
테슬라                                                             206
마이크로소프트                                                         203
코카콜라                                                            187
월트 디즈니                                                          177
AT&T                                                            172
보잉                                                              156
ProShares:UltP Sht QQQ                                          154
애플                                                              148
Virgin Galactic Holdings                                        129
스타벅스                                                            127
MICRSECTRS US BIG OIL IDX 3X LVG ETN                            119
Luckin Coffee                                                   109
카니발                                                             105
엑슨 모빌                                                            99
Uber                                                             91
인텔                                                               88
프로셰어즈 울트라프로 QQQ                                                  83
Name: iem_krl_nm, dtype: int64

In [52]:
#30대가 투자하는 top20 기업(해외)
iem_trd_act_cus_30_oss['iem_krl_nm'].value_counts().head(20)

델타 에어라인스                                                        321
마이크로소프트                                                         268
보잉                                                              221
EPR 프로퍼티스                                                       216
아머 레지덴셜 리츠                                                      201
애플                                                              197
테슬라                                                             189
월트 디즈니                                                          173
AT&T                                                            171
코카콜라                                                            148
뱅가드토탈스톡마켓ETF                                                    132
ProShares:UltP Sht QQQ                                          129
AMD                                                             123
리얼티 인컴                                                          116
카니발                                                             115
스타벅스                                                            104
사이먼 프로퍼티 그룹                                                     102
파크 호텔스 & 리조츠                                                    102
메인 스트리트 캐피털                                                      81
MICRSECTRS US BIG OIL IDX 3X LVG ETN                             80
Name: iem_krl_nm, dtype: int64

In [53]:
#기성세대가 투자하는 top20 기업(해외)
iem_trd_act_cus_older_oss['iem_krl_nm'].value_counts().head(20)

마이크로소프트                                                         505
애플                                                              393
AT&T                                                            360
델타 에어라인스                                                        298
월트 디즈니                                                          293
리얼티 인컴                                                          261
테슬라                                                             253
스타벅스                                                            248
CS VELOCITYSHARES 3X LNG NTRL GS ETN                            232
아이셰어즈 실버 트러스트                                                   207
알파벳 CLASS A (voting)                                            162
인텔                                                              145
코카콜라                                                            134
페이스북                                                            133
인베스코 QQQ 트러스트 시리즈 1                                             123
아이셰어즈20+이어트레저리본드ETF                                             116
US 글로벌 제츠 ETF                                                   115
INVESCO S&P 500 HIGH DIVIDEND LOW VOL                           115
PhaseBio Pharmaceuticals, Inc.                                  114
보잉                                                              111
Name: iem_krl_nm, dtype: int64